extends ../layout

block append styles

    link(rel='stylesheet', href='/stylesheets/createDataStyle.css')


block content

    form(action="login" method='post')
        div(class="container")

            if data.error
                h1(style="color:red") Benutzername oder Passwort falsch
            else
                h1 Anmelden
            hr

            label(for="username")
            b Benutzername
            input(type="text" placeholder="Benutzernamen eingeben" name="username" id="username" required)

            label(for="password")
            b Passwort
            input(type="password" placeholder="Passwort eingeben" name="password" id="password" required)
            hr

            button(type="submit" class="registerbtn") Anmelden
            if data.error
                button(onclick='history.go(-2)' class="registerbtn") Zurück
            else
                button(onclick='history.back()' class="registerbtn") Zurück
