extends ../layout

block append styles

    link(rel='stylesheet', href='/stylesheets/createDataStyle.css')


block content

    form(action="edit?name=" + data.curName method='post')
        div(class="container")
            if data.error
                h1(style="color:red") #{data.error}
            else
                h1 Schicht bearbeiten
            hr

            label(for="name")
                b Name der Schicht
            input(type="text" value=data.curName name="name" id="name" required)

            label(for="startzeit")
                b Beginn der Schicht
            input(type="time" name="startzeit" id="startzeit" required)

            label(for="endzeit")
                b Ende der Schicht
            input(type="time" name="endzeit" id="endzeit" required)
            hr

            button(type="submit" class="registerbtn") Bearbeiten
            if data.error
                button(onclick='history.go(-2)' class="registerbtn") Zurück
            else
                button(onclick='history.back()' class="registerbtn") Zurück