extends ../layout

block append styles

    link(rel='stylesheet', href='/stylesheets/createDataStyle.css')

block content
    div(class='container')
        h1(align='center')=data.title
        hr

        table(width='100%')
            tr
                th Name
                th Beginn
                th Ende
            each val in data.schichten
                tr
                    td #{val.name}
                    td #{val.startzeit.toLocaleTimeString()}
                    td #{val.endzeit.toLocaleTimeString()}
                    td
                        a(href='schichten/edit?name=' + val.name) Bearbeiten
                    td
                        a(href='schichten/delete?name=' + val.name) Löschen
        hr

        a(href='schichten/create') neuen Datensatz erstellen
