extends ../layout

block append styles

    link(rel='stylesheet', href='/stylesheets/createDataStyle.css')


block content

    form(action="edit?id=" + data.entry._id method='post')
        div(class="container")
            if data.error
                h1(style="color:red") #{data.error}
            else
                h1 DP Eintrag bearbeiten
            hr

            label(for="date")
                b Datum auswählen
            input(type="date" value=data.date name="date" id="date" required)

            label(for="ma")
                b Mitarbeiter auswählen
            select(name='ma', id='ma' required)
                each m in data.ma
                    option=m.username

            label(for="schicht")
                b Schicht auswählen
            select(name='schicht' id='schicht' required)
                each schicht in data.schichten
                    option=schicht.name
            hr

            button(type="submit" class="registerbtn") Bearbeiten
            if data.error
                button(onclick='history.go(-2)' class="registerbtn") Zurück
            else
                button(onclick='history.back()' class="registerbtn") Zurück