extends ../layout

block append styles

    link(rel='stylesheet', href='/stylesheets/createDataStyle.css')

block content
    div(class='container')
        h1(align='center')=data.title
        hr

        table(width='100%')
            tr
                th Datum
                th Username
                th Schicht
            each date in data.dates
                tr
                    td(class='date')=date.date
                    td=date.mitarbeiter.username
                    td=date.schicht.name
                    td
                        a(href='dienstplan/edit?id=' + date.id) Bearbeiten
                    td
                        a(href='dienstplan/delete?id=' + date.id) Löschen
        hr

        a(href='dienstplan/create') neuen Datensatz erstellen