extends layout

block append styles

    link(rel='stylesheet', href='/stylesheets/createDataStyle.css')
    link(rel='stylesheet', href='/stylesheets/showDP.css')

block content
    if !data.noAuth
        div(class='container')
            table(width='100%')
                tr
                    th Datum
                    each ma in data.mitarbeiter
                        th=ma.username
                each date in data.dates
                    tr
                        td(class='date')=date.date
                        each user in date.userSchicht
                            if user.hasEntry
                                td=user.schicht.name
                            else
                                td
                        