doctype html
html
  head
    title=data.title
    block styles
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
      link(rel='stylesheet', href='../stylesheets/style.css')
  body
    nav(class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top")
      ul(class="navbar-nav")
        li(class='nav-item')
          a(class='nav-link' href='/') Home
        if data.noAuth
          li(class="nav-item")
            a(class="nav-link" href='/auth/login') Login
        if !data.noAuth
          li(class="nav-item")
            a(class="nav-link" href='/auth/logout') Logout
          li(class="nav-item")
            a(class="nav-link" href='/dienstplan') DP-Verwaltung
          li(class='nav-item')
            a(class='nav-link' href='/users') Benutzerverwaltung
          li(class='nav-item')
            a(class='nav-link' href='/abteilungen') Abteilungsverwaltung
          li(class='nav-item')
            a(class='nav-link' href='/schichten') Schichtverwaltung
    div(class="jumbotron text-center" style="margin-bottom:0")
      h1(class='display-2')
        a(href='/' style='color:black;text-decoration:none;') Dienstplaner


    block content
    script(src='../javascripts/formatDate.js')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')