extends ../layout

block append styles

    link(rel='stylesheet', href='/stylesheets/createDataStyle.css')


block content

    form(action="edit?name=" + data.curName method='post')
        div(class="container")
            if data.error
                h1(style="color:red") #{data.error}
            else
                h1 Abteilung bearbeiten
            hr

            label(for="name")
                b Name der Abteilung
            input(type="text" value=data.curName name="name" id="name" required)
            hr

            button(type="submit" class="registerbtn") Bearbeiten
            if data.error
                button(onclick='history.go(-2)' class="registerbtn") Zurück
            else
                button(onclick='history.back()' class="registerbtn") Zurück