extends ../layout

block append styles

    link(rel='stylesheet', href='/stylesheets/createDataStyle.css')

block content
    div(class='container')
        h1(align='center')=data.title
        hr

        table(width='100%')
            tr
                th Name
            each val in data.abteilungen
                tr
                    td #{val.name}
                    td
                        a(href='abteilungen/edit?name=' + val.name) Bearbeiten
                    td
                        a(href='abteilungen/delete?name=' + val.name) Löschen
        hr

        a(href='abteilungen/create') neuen Datensatz erstellen
