/* Full-width table fields */
table {
    width: 100%;
    border: 1px solid black;
    background: #f1f1f1;
}

/* add borders + center text*/
tr, td, th {
    border: 1px solid black;
    text-align: center;
}

/* added different color for even rows */
tr:nth-child(even) {
    background-color: #dddddd;
}