extends ../layout

block append styles

    link(rel='stylesheet', href='/stylesheets/createDataStyle.css')


block content

    form(action="edit?username=" + data.curUsername method='post')
        div(class="container")
            if data.error
                h1(style="color:red") #{data.error}
            else
                h1 Benutzer bearbeiten
            hr

            label(for="username")
            b Benutzername
            input(type="text" value=data.curUsername name="username" id="username" required)

            label(for="password")
            b Passwort
            input(type="password" placeholder="Passwort eingeben" name="password" id="password" required)

            label(for="vorname")
            b Vorname
            input(type="text" placeholder="Vornamen eingeben" name="vorname" id="vorname" required)

            label(for="nachmane")
            b Nachname
            input(type="text" placeholder="Nachnamen eingeben" name="nachname" id="nachname" required)

            label(for="email")
            b Email
            input(type="text" placeholder="Email eingeben" name="mail" id="mail" required)

            label(for="Abteilung")
            b Abteilung
            select(name='abteilung' id='abteilung' required)
                each abt in data.abteilungen
                    option=abt.name
            br

            label(for="Rolle")
            b Rolle
            select(name='rolle' id='rolle' required)
                each rolle in data.rollen
                    option=rolle

            hr

            button(type="submit" class="registerbtn") Bearbeiten
            if data.error
                button(onclick='history.go(-2)' class="registerbtn") Zurück
            else
                button(onclick='history.back()' class="registerbtn") Zurück