extends ../layout

block append styles

    link(rel='stylesheet', href='/stylesheets/createDataStyle.css')

block content
    div(class='container')
        h1(align='center')=data.title
        hr

        table(width='100%')
            tr
                th Username
                th Name
                th Vorname
                th Mail
                th Abteilung
                th Rolle
            each val in data.users
                tr
                    td #{val.username}
                    td #{val.name}
                    td #{val.vorname}
                    td #{val.mail}
                    if(val.abteilung)
                        td #{val.abteilung.name}
                    else
                        td 
                    td #{val.rolle}
                    td
                        a(href='users/edit?username=' + val.username) Bearbeiten
                    td
                        a(href='users/delete?username=' + val.username) Löschen
        hr

        a(href='users/create') neuen Datensatz erstellen
